body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);

}

#Calculator{
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 400px;
    height: 490px;
    margin-top: 100px;
    padding-bottom: 70px;
    overflow: hidden;
}

#display{
    width: 90%;
    font-size: 2.5rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 100%, 100%);
    /* background-color: hsl(0, 85%, 43%); */
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 20px;
    color: black;
    padding: 6px 10px 26px 0px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 25px;
}


button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 0%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 80%, 53%);
}

button:active{
    background-color: hsl(0, 80%, 52%);
}

.btn1{
    height: 38px;
    width: 70px;
    background-color: #555;
}

.operator-btn3{
    background-color: hsl(0, 7%, 8%);
    color: rgb(255, 0, 0);
}

.operator-btn3:hover{
    background-color: hsl(0, 7%, 8%);
    color: hsl(123, 100%, 50%);
}

.operator-btn1{
    background-color: hsl(0, 0%, 100%);
    color: rgb(255, 0, 0);
}

.operator-btn1:hover{
    background-color: hsl(0, 7%, 8%);
}

.operator-btn{
    background-color: hsl(0, 1%, 27%);
    color: hsl(123, 100%, 50%);
}

.operator-btn:hover{
    background-color: hsl(123, 100%, 50%);
    color: white;

}

.operator-btn2{
    background-color: hsl(123, 100%, 50%);
    color: rgb(255, 255, 255);
}

.operator-btn2:hover{
    background-color: hsl(0, 7%, 8%);
    color: rgb(255, 0, 0);
}